{% extends 'base.html' %}
{% block body%}
<div style="display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 50px; 
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.8);">

    <img src="static/img/logo.png" class='rounded mx-auto d-block' alt='Image not found' style="margin-top: 20px;">
    <p class="h1">SIGNALIFY</p>

    <p>This application takes images of any kind of traffic signals and detect the meaning of the
        signal. It is bassically an implementation of Deep Neural Network using CNN (Convolutional Neural Network)
        on <a href="https://www.kaggle.com/meowmeowmeowmeowmeow/gtsrb-german-traffic-sign">GTSRB (German
            Traffic Sign Recognition Benchmark)</a> dataset using Pytorch and flask.</p>

    <div>
        <p class="h4">What is GTSRB?</p>
        <p>The German Traffic Sign Benchmark is a multi-class, single-image classification challenge
            held at the International Joint Conference on Neural Networks (IJCNN) 2011. We cordially invite researchers
            from relevant fields to participate: The competition is designed to allow for participation without special
            domain knowledge. Our benchmark has the following properties:</p>
        <ul>
            <li>Single-image, multi-class classification problem</li>
            <li>Total 43 classes</li>
            <li>More than 50,000 images in total</li>
        </ul>

        <p class="h4">What is Pytorch?</p>
        <p>PyTorch is an optimized tensor library for deep learning using GPUs and CPUs. It is an open source machine
            learning library based on the Torch library, used for applications such as
            computer vision and natural language processing, primarily developed by Facebook's AI Research lab. It is
            free and open-source software released under the Modified BSD license. <br>
            For more info visit: <a href="https://pytorch.org/">pytorch.org</a></p>

        <p class="h4">What is Flask?</p>
        <p>Flask is a micro web framework written in Python. It is classified as a microframework because it does not
            require particular tools or libraries. Extensions exist for object-relational mappers, form validation,
            upload handling, various open authentication technologies and several common framework related tools.
            Applications that use the Flask framework include Pinterest and LinkedIn. The microframework Flask is based
            on the Pocoo projects, Werkzeug and Jinja2. <br>For more info visit: <a
                href="https://flask.palletsprojects.com/en/1.1.x/">flask.palletsprojects.com</a></p>

        <p class="h4">What are the Pros?</p>
        <ul>
            <li>In real world it can classify 43 types of Traffic signs meaning from any image (jpg, png, jpeg)</li>
            <li>It beacame really handy when one needs to know a meaning of Traffic sign</li>
        </ul>

        <p class="h4">What are the Cons?</p>
        <ul>
            <li>There are over one thousand traffic signs in German traffic code but it detects only 43 types.</li>
            <li>Though the CNN model accuracy is very hign but sometime it gives wrong prediction for a given image.
            </li>
            <li>There is no direct camera feature to capture images. One needs to take a picture and then upload to the
                application</li>
        </ul>

        <p class="h4">What are the Future Scope?</p>
        <ul>
            <li>Make CNN model more accurate for different type of images</li>
            <li>Add camera feature to capture direct images from camera.</li>
            <li>Include new features like identification from real-time videos or live videos.</li>
        </ul>

        <p class="h4">Signs that we can recognize using singnalify are:</p>
        <ul class="sign-list" style="list-style-type:none; display: flex; justify-content: space-around;">
            <li>
                <ul>
                    <li>Speed limit (20km/h)</li>
                    <li>Speed limit (30km/h)</li>
                    <li>Speed limit (50km/h)</li>
                    <li>Speed limit (60km/h)</li>
                    <li>Speed limit (70km/h)</li>
                    <li>Speed limit (80km/h)</li>
                    <li>End of speed limit (80km/h)</li>
                    <li>Speed limit (100km/h)</li>
                    <li>Speed limit (120km/h)</li>
                    <li>No passing</li>
                    <li>No passing veh over 3.5 tons</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Right-of-way at intersection</li>
                    <li>Priority road</li>
                    <li>Yield</li>
                    <li>Stop</li>
                    <li>No vehicles</li>
                    <li>Vehicle > 3.5 tons prohibited</li>
                    <li>No entry</li>
                    <li>General caution</li>
                    <li>Dangerous curve left</li>
                    <li>Dangerous curve right</li>
                    <li>Double curve</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Bumpy road</li>
                    <li>Slippery road</li>
                    <li>Road narrows on the right</li>
                    <li>Road work</li>
                    <li>Traffic signals</li>
                    <li>Pedestrians</li>
                    <li>Children crossing</li>
                    <li>Bicycles crossing</li>
                    <li>Beware of ice/snow</li>
                    <li>Wild animals crossing</li>
                    <li>End speed + passing limits</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Turn right ahead</li>
                    <li>Turn left ahead</li>
                    <li>Ahead only</li>
                    <li>Go straight or right</li>
                    <li>Go straight or left</li>
                    <li>Keep right</li>
                    <li>Keep left</li>
                    <li>Roundabout mandatory</li>
                    <li>End of no passing</li>
                    <li>End no passing vehicle > 3.5 tons</li>
                </ul>
            </li>
        </ul>
    </div>

    <a href="https://drive.google.com/file/d/1bui4SEESrZd1Q2solpdcwNAu3SMLjunM/view?usp=sharing">
        <img src="static/img/qr-code.png" alt="QR Code" width="100px">
    </a>
    <p>Scan or Click to download This app</p>
</div>
<footer class="text-center text-lg-start fixed-bottom bg-dark" style="margin-bottom: -6px;">
    <!-- Copyright -->
    <div class="text-center p-3" style="margin-top: -6px;">
        <a class="text-dark" href="https://deep-dey.github.io/Port-folio/">
            <span style="color: rgba(255, 255, 255, 1)">Copyright © 2021 Deep. All rights reserved</span>
        </a>
    </div>
    <!-- Copyright -->
</footer>

<style>
    a {
        color: crimson;
        text-decoration: none;
    }

    @media all and (max-width: 750px) {
        .sign-list {
            flex-direction: column;
        }
    }
</style>
{% endblock %}